
.appLayout {
  display: grid;
  height:100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  gap: 0.1rem;
}

.appLayout > div {
  padding: 1rem;
}

.header {
  grid-area: header;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}



 